@import url(./reset.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: brown;
}
/* Header */
#color-game-header {
  background-color: rgb(255, 174, 23);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  row-gap: 12px;
}
#color-game-header > .text-node-one {
  font-size: large;
}
#color-game-header > .text-node-two {
  font-size: 1.8em;
}
#color-game-header > .text-node-three {
  font-size: large;
}
/* STATUS */
#status {
  background-color: white;
  color: rgb(161, 0, 0);
  display: flex;
  justify-content: center;
  height: 4vh;
}

#status > .levels {
  margin-left: 20%;
  display: flex;
  gap: 12px;
}
/* color-palette-grid */
#color-palette-grid-container {
  display: flex;
  justify-content: center;
  background: black;
  height: 76vh;
}
#color-palette-grid-container > .color-palette-grid {
  display: grid;
  margin: 12px 0;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  width: 50%;
}
.color-palette-grid > .color-box-one {
  background-color: aquamarine;
  border-radius: 12px;
  box-shadow: 0px -2px 24px 8px #575454;
}
.message {
  margin-left: 50px;
}
@media (max-width: 884px) {
  #color-palette-grid-container > .color-palette-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 3fr);
  }
}

@keyframes fadeIn {
  to{
    opacity:0;
  }
  
}
.fade-in {
  opacity: 1;
  animation: fadeIn 1s ease-in 1 forwards;
}